@model BookLib.Models.DBModels.Book

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAuthorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAuthorNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCategoryNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategoryNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdGenreNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdGenreNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPublisherNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPublisherNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSeriesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSeriesNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
